<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
  />
    <title>Boilerplate!!!!</title>
</head>
<body class="d-flex flex-column vh-100">

    <!-- NAvbar of the website -->

    <nav class="navbar navbar-expand-lg navbar-light navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">GoalMinder</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active"  href="/">Home</a>
              <a class="nav-link" href="/goals">Goals</a>
            </div>

           <div class="navbar-nav ms-auto">
             <% if(!currentUser){ %> 
             <a class="nav-link" href="/register">Register</a>
              <a class="nav-link" href="/login">Login</a>
              <% }else{ %> 
              <a class="nav-link" href="/logout">Logout</a>
               <% } %> 
           </div>
          
          </div>

        </div>
      </nav>
     

      <!-- Body of the website -->

    <main class="container mt-5">

      <%-include('../flash.ejs')%>

      
    <%-body%>


    </main>


    <!-- footer of the website -->

   <footer class="footer bg-dark py-3 mt-auto">
     <div class="container">
        <span class="text-secondary">&copy; GoalMinder 2023</span>
     </div>
   </footer>



   <script src="https://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>
</html>